<h1> Student Search </h1>
<%= form_tag("/students", :method => "get") do %>
    <%= label_tag(:query, "Search for:")%>
    <%= text_field_tag :query, params[:query] %>
    <%= submit_tag ("Search") %>
    <% end %>



    <% @students.each do |student| %>
       <%= render partial: 'student', locals:{student: student} %>
    <% end %>